html {
  font-family: Montserrat, serif !important;
}

body {
    
    color: #2C3E50 !important;
    font-family: Montserrat, serif;
}

input, button, select, textarea {
  font-family: inherit;
}



/* /------------ BannerGeneral ------------/ */

.bannersGeneral {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background-color: #F4D35E;
  @media (max-width: 1024px) {
    height: 500px;
    max-height: 900px;
  }
  @media (max-width: 768px) {
    height: 400px;
    max-height: 750px;
  }
  @media (max-width: 575px) {
    height: 360px;
    max-height: 360px;
  }
}

.bgImgBanner {
  width: 100%;
    height: auto;
    position: absolute;
    top: -9%;

  @media (max-width: 1024px) {
    width: 200%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 465px) {
    width: 133%;
    left: -25%;
  }

  @media (max-width: 380px) {
    width: 153%;
    left: -41%;
  }
}

.josepo24 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.lusitoIMgR {
    height: 250px;
    

  @media (max-width: 465px) {
    height: 40%;
    margin-left: 0;
    margin-bottom: 20%;
  }
}

.boxTitleR {
  @media (max-width: 465px) {
    position: absolute;
    bottom: 0;
  }
}

.titleI {
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 5%;
  color: #2C3E50;
}

.ptittleRec {
  font-size: 2em;
  font-weight: 600;
}



/* /------------------------------------ Formulario ------------------------------------/ */
.inputG {
  border: 2px solid #BDC3C7;
  border-radius: 15px;
  color: #2C3E50;
  text-align: center;
  width: 100%;
}
.button-eye{
    border: 2px solid #BDC3C7;
    border-radius: 15px;
    color: #2C3E50;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    height: 42px;
    width: 45px !important;
}
.text-general {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #7F8C8D;
}

.btnIngresarVerde {
  background-color: #5DADE2;
  border: none;
  border-radius: 15px;
  color: white;
  margin: auto;
}

.btnIngresarVerde:hover {
  color: #2C3E50;
  background-color: #3498DB;
  box-shadow: 8px 8px 0px 0px rgb(122, 205, 212) !important;
  border: 3px solid white;
  border-radius: 15px;
  color: white;
}

.borderB {
  border-left: 1px #009D8E solid;
  @media (max-width: 992px) {
    border-left: none;
    border-top: 1px #009D8E solid;
  }
}

.img-diri-min {
  width: 70%;
  border-radius: 15px;
  padding: 10px;
  background-color: #009D8E;
  -webkit-box-shadow: -16px 16px 22px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 16px 22px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 9px 20px -3px rgba(0, 0, 0, 0.75);
}

.btnModal {
  background-color: #ff4869;
  border: 3px solid white;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 400;
  width: 8em;
}
.btnModal:hover {
  color: #fff !important;
  background-color: #ff4869;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px rgb(122, 205, 212) !important;
  border: 3px solid white;
  color: white;
}

.titleModal {
  font-size: 2.5em;
}

.contentModal {
  font-size: 1.2em;
}
.modal-content {
  position: relative !important;
  display: -ms-flexbox  !important;
  display: flex  !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  width: 100% !important;
  pointer-events: auto !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  border-radius: 40px  !important;
  outline: 0 !important;
}



/******************************** Navbar **********************************/
.glass_nav {
    background: #ffffff3b;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    padding-top: 0;
    padding-bottom: 0;
}

/* .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
} */
.backgroundResponsive {
    background-color: #F4D35E;
    border-radius: 15px;
}
.imgLogoFekaTaxi{
    width: 60% !important;
}
.nav-link {
    color: #5C3D2E !important;
}

.nabvar-1{
 margin-bottom: 20px;
 border-bottom: 1px solid #ccc;
 padding-bottom: 10px;
}
.text-nav{
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    font-weight: 700;
    transition: transform 0.5s cubic-bezier(.25, .1, .25, 1) !important;
}

.text-nav:hover{
color: #000000;
font-size: 1.1em;
}



/******************************** GENERALS **********************************/

.btn-red{
    background-color: #f86f68 !important;
    border-radius: 10px !important;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px !important;
    width: 50%;
    padding: .2em 3em;
}

.btn-green {
    font-size: 15px !important;
    background-color: #06bc50 !important;
    margin: 10px  !important;
    border-radius: 10px;
    font-weight: 500 !important;
    color: #fff !important;
    width: 70%;
    border: none;
    padding: 0em 0em !important;
    height: 1.7em;
}



.btn-greenAP {
    font-size: 15px !important;
    background-color: #06bc50 !important;
    margin: 10px  !important;
    border-radius: 10px;
    font-weight: 500 !important;
    color: #fff !important;
    width: 70%;
    border: none;
    padding: 0em 0em !important;
    height: 1.7em;
    margin-top: 2rem!important;
}



.btn-green-general {
    font-size: 15px !important;
    background-color: #06bc50 !important;
    margin: 10px  !important;
    border-radius: 10px;
    font-weight: 500 !important;
    color: #fff !important;
    width: 40%;
    border: none;
    padding: 0em 0em !important;
    height: 2.5em;
}

/******************************** ReportesPage **********************************/



/******************************** TaxisPage **********************************/
/* Estilo base del contenedor del input */
.inputTP {
     color: #707070 !important;
    border: 1px solid #F4D35E !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    width: 100% !important;
    margin: 10px  !important;
    height: 1.7em;
    text-align: justify ;
    padding-left: 15px;
}

.text-taxi{
font-size: 1.5em;
}

.table td,
.table th {
  vertical-align: middle;
}

/* Suaviza la transición del hover */
.table-hover tbody tr:hover {
  background-color: #f0f8ff;
  transition: background-color 0.2s ease-in-out;
}




/******************************** UsuariosPage **********************************/
.textUP{
  font-size: 1.2em;
  font-weight: 500;
  color: #707070;
  margin: 15px;
}


/* ///////////////////////////////////////////////////////////// Footer ////////////////////////////////////////////////////////// */
.imgWhats {
  position: fixed;
  bottom: 23px;
  right: 15px;
  z-index: 1;
  width: 6rem;
  height: 6rem;
}

.footerLinks {
  ul li {
    font-size: 10px;
    list-style-type: none;
    margin: 5px 0;
    font-weight: 200;
    @media only screen and (max-width: 920px) {
      font-size: 12px !important;
      font-weight: 300 !important;
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    font-size: 12px;
    font-weight: 800 !important;
  }
}

.redesFooter {
  color: white !important;
  list-style-type: none;
  font-size: 20px;
  @media only screen and (max-width: 920px) {
    font-size: 30px !important;
  }

  a {
    color: #FFFFFF;
  }

}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: #7acdd4 !important;
}

.bg-explora {
  background-color: #005F73;
}

.btnIniciarSession {
  background-color: #F0585F;
  border-radius: 10px;
  border: none;
  color: white;
  margin: auto;
  width: auto;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btnIniciarSession:hover {
  transform: scale(1.05);
  color: white;
}

.nav-link:hover {
  transform: scale(1.05);
  font-weight: 700 !important;
}

.textCopy {
  font-weight: 200;
  font-size: 12px;

  a {
    color: white !important;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.05);
    font-weight: 700 !important;
  }
}
